# Ignorar arquivos de build
build/
dist/
nbbuild/
nbdist/
# Ignorar tudo dentro de target
target/*

# Mas não ignore o conteúdo de target/site
!target/site/
# Ignorar configurações privadas do NetBeans
nbproject/private/

# Ignorar classes compiladas
*.class

# Ignorar arquivos de log e temporários
*.log
*.tmp