# Ignorar arquivos de build Java
build/
dist/
nbbuild/
nbdist/

# Ignora tudo em target exceto site/apidocs
target/**
!target/site/
!target/site/apidocs/
!target/site/apidocs/**
!target/*zip
# Ignorar configurações privadas do NetBeans
nbproject/private/

# Ignorar classes compiladas
*.class

# Ignorar arquivos de log e temporários
*.log
*.tmp

# Ignorar dependências Node.js
node_modules/

# Ignorar arquivos JavaScript e TypeScript
*.js
*.jsx
*.ts
*.tsx

# Ignorar arquivos de lock do Node
package-lock.json
yarn.lock

# Ignorar artefatos do standard-version/semantic-release (caso existam)
.npmrc
.release-it.json
.releaserc
